body {
    margin: 10em;
    background-color: aqua;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 1em;
}

button {
    padding: 1em;
}

.top {
    order: 1;
    display: flex;
    flex-direction: row;
}

.middle {
    order: 2;
    padding: 2em;
}

.bottom {
    order: 3;
}